.product {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--hospital-green);
  border-radius: 1rem;
  font-family: var(--ff-main);
  text-align: center;
  &_name {
    margin: 1.5rem 0;
    font-size: var(--fs-medium);
    font-weight: var(--fw-medium);
  }
  &_tag {
    margin: 1.5rem 0;
    padding: 1rem;
    border: 1px solid var(--hospital-green);
    border-radius: 1.5rem;
  }
  &_price {
    margin-top: 1.5rem;
    font-size: 2.4rem;
    color: var(--dark);
  }
  &_description {
    margin: 1.5rem 0;
    width: 100%;
    font-size: var(--fs-small);
  }
  &_remaining {
    margin: 1.5rem 0;
    font-size: var(--fs-small);
    font-weight: var(--fw-bold);
  }
  &_buttons {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1.5rem;
    &_element {
      font-family: var(--ff-main);
      padding: 1rem;
      border: none;
      border-radius: 0.5rem;
      font-weight: var(--fw-bold);
      cursor: pointer;

      &.button--add {
        background-color: var(--hospital-green);
        color: var(--black);
        &:hover {
          color: var(--white);
        }
        &:disabled {
          background-color: #eeeeee;
          border-color: #d0d0d0;
          color: #ababab;
          cursor: default;
        }
      }
      &.button--remove {
        background: var(--dark);
        color: var(--hospital-green);
        &:hover {
          color: var(--remove);
        }
        &:disabled {
          background-color: #eeeeee;
          border-color: #d0d0d0;
          color: #ababab;
          cursor: default;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .product {
    justify-content: space-between;
  }
}
