.products {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  padding: 0 2rem;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .products {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1440px) {
  .products {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (min-width: 1920px) {
  .products {
    grid-template-columns: repeat(6, 1fr);
  }
}
